
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /parcours-bijoux/
RewriteRule ^index\.php$ - [L]
RewriteCond % {HTTP_HOST} ^ parcoursbijoux.com [NC, OR]
RewriteCond % {HTTP_HOST} ^ www.parcoursbijoux.com [NC]
(*). RewriteRule ^ $ https: //parcours-bijoux.com [L, R = 301, NC]
</IfModule>

# END WordPress